@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

body {
  margin: 0;
  border: 0;
  padding: 0;
  text-align: center;
}

#full-page-div {
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(to right, #ea52f8, #0066ff);
  color: white;
}

button {
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  outline: none;
  transition: 1s ease-in-out;
}

button:hover {
  transition: 1s ease-in-out;
  background: #53a5f8;
}

button:hover svg {
  stroke-dashoffset: -480;
}

button span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

input {
  background-color: #347eee;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}