body {
  margin: 0;
  border: 0;
  padding: 0;
  text-align: center;
}

.menu{
  border: 10px solid transparent;
  background-color: #1e1c1c;
  color: white;
  text-align: left;
  display: flex;
}
.menu a{
  color: orange;
  margin-right: 1em;
  margin-left: 1em;
}

.uploadCSS {
  border-top: 100px solid transparent;
  height: 80%;
  width: 100%;
  position: absolute;
  background-color: #4f4f4f;
  color: white;
}


#full-page-div {
  border-top: 10px solid transparent;
  border-bottom: 58vh solid transparent;
  height: 100%;
  width: 100%;
  position: relative;
  /* background: linear-gradient(to right, #ea52f8, #0066ff); */
  background-color: #4f4f4f;
  color: white;
}

button {
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  outline: none;
  transition: 1s ease-in-out;
}

button:hover {
  transition: 1s ease-in-out;
  background: #53a5f8;
}

button:hover svg {
  stroke-dashoffset: -480;
}
button span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

input {
  background-color: transparent;
  color: white;
  border: 1px solid red;
  padding: 10px 10px;
  border-radius: 50px;
}


.img-gallery{
  width: 90%;
  margin: 50px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  gap: 30px;
}
.img-gallery img{
  max-width: 100%;
  margin: auto;
  max-height: 400px;
  cursor: pointer;
  transition: 1s;
}
.img-gallery img:hover{
  transform: scale(1.1);
}

.ful-img{
  max-width: 100%;
  margin: auto;
}
.ful-img img{
  max-height: 700px;
  max-width: 1100px;
}
.ful-img img:hover{
  transform: none;
  cursor: auto;
}

@media screen and (max-width:400px){
  h1{
      text-decoration: underline;
  }
  h1::before{
      display: none;
  }
  h1 span{
      padding: 0;
  }
}
