body {
  margin: 0;
  border: 0;
  padding: 0;
  text-align: center;
}

#full-page-div {
  border-top: 10px solid transparent;
  border-bottom: 200px solid transparent;
  height: 100%;
  width: 100%;
  position:relative;
  background: linear-gradient(to right, #ea52f8, #0066ff);
  color: white;
}

button {
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  outline: none;
  transition: 1s ease-in-out;
}

button:hover {
  transition: 1s ease-in-out;
  background: #53a5f8;
}

button:hover svg {
  stroke-dashoffset: -480;
}

button span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

input {
  background-color: #347eee;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

img {
  max-width: 100%;
  padding: 4px;
}
/*
img:hover{
  cursor: pointer;
  border: 1px solid white;
}*/


.row {
  display: flexbox;
  flex-wrap: wrap;
  padding: 0 4px;
  border-bottom: 70px solid transparent;
}

.column {
  max-width: 700px;
  max-height: 500px;
  padding: 4px;
  
}
.column img{
  vertical-align: middle;
}
